/* ----------------------------------------------------引入开始---------------------------------------------------------- */

/* ————————————————————初始设置———————————————————— */
/* 引入颜色和字体 */
@import url("style/01-color-font/color-font.css");
/* 引入一些初始设置 */
@import url("style/07-others/begin-setting.css");
/* 引入空行提示 */
@import url("style/07-others/empty-letter.css");


/* ————————————————————界面修改———————————————————— */
/* 修改上左右dock栏样式 */
@import url("style/02-appearance/dock.css");
/* 修改正文A4纸大小 */
@import url("style/02-appearance/A4.css");
/* 修改文档树样式 */
@import url("style/02-appearance/file-tree.css");
/* 修改标签页样式 */
@import url("style/02-appearance/tab-bar.css");
/* 修改面包屑样式 */
@import url("style/02-appearance/breadcrumb.css");
/* 修改鼠标滑选块时光标颜色 */
@import url("style/02-appearance/mouse.css");
/* 修改选中文字后弹出的悬浮工具栏的样式 */
@import url("style/02-appearance/toolbar.css");
/* 修改弹出菜单的样式 */
@import url("style/02-appearance/meun.css");
/* 修改按钮样式 */
@import url("style/02-appearance/button.css");
/* 修改设置界面样式 */
@import url("style/02-appearance/setting-option.css");
/* 修改警告界面样式 */
@import url("style/02-appearance/warning-color.css");


/* ————————————————————行内元素———————————————————— */
/* 修改高亮样式 */
@import url("style/03-inline-span/mark.css");
/* 修改加粗样式 */
@import url("style/03-inline-span/strong.css");
/* 修改下划线样式 */
@import url("style/03-inline-span/underline.css");
/* 修改删除线样式 */
@import url("style/03-inline-span/line-through.css");
/* 修改块引用样式 */
@import url("style/03-inline-span/block-ref.css");
/* 修改超链接样式 */
@import url("style/03-inline-span/a-link.css");
/* 修改标签样式 */
@import url("style/03-inline-span/tag.css");
/* 修改键盘keyboard样式 */
@import url("style/03-inline-span/keyboard.css");
/* 修改行内代码样式 */
@import url("style/03-inline-span/inline-code.css");
/* 修改上标和下标样式 */
@import url("style/03-inline-span/sup-sub.css");
/* 修改更多字体的样式 */
@import url("style/03-inline-span/strong-morestyle.css");

/* ————————————————————块级元素———————————————————— */
/* 修改表格样式 */
@import url("style/04-block-div/table.css");
/* 修改引用样式 */
@import url("style/04-block-div/blockquote.css");
/* 修改嵌入块样式 */
@import url("style/04-block-div/render-node.css");
/* 修改图片样式 */
@import url("style/04-block-div/image.css");
/* 修改列表样式 */
@import url("style/04-block-div/list.css");
/* 修改代码块样式 */
@import url("style/04-block-div/code-block.css");
/* 修改超级块样式 */
@import url("style/04-block-div/super-block.css");
/* 修改PDF双链的样式 */
@import url("style/04-block-div/pdf.css");
/* 修改分割线样式 */
@import url("style/04-block-div/divider-fengexian.css");
/* 修改标题样式 */
@import url("style/04-block-div/NodeHeading-biaoti.css");
/* 引入4种样式 */
@import url("style/04-block-div/card.css");

/* ————————————————————自定义属性———————————————————— */
/* 增加文档的自定义属性 */
@import url("style/05-custom-function-for-file/custom-function-for-file.css");
/* 增加块的自定义属性 */
@import url("style/06-custom-function-for-block/custom-function-for-block.css");
/*自定制修改*/
@import url("style/新.css");

/* ----------------------------------------------------引入结束---------------------------------------------------------- */

.layout--float .fn__flex.fn__flex-1{
   background-image:unset;
   box-shadow:unset;
}
.layout__dockl,.layout__dockr{
   box-shadow:unset !important;
   border:none !important;
}
.layout--float .fn__flex-1.fn__flex-column{
   box-shadow:0 0 2px rgb(126 50 0 / 10%) inset, 0 1px 4px rgb(58 15 0 / 20%);
}
.layout__dockl.layout--float [data-type="wnd"]{
   margin-left:0px !important;
}
.layout__dockr.layout-float [data-type="wnd"]{
   margin-right:0px !important;
}

.pdf__outer .textLayer, .pdf__outer .pdf__resize{background-color:#f1e5c9}
.pdf__outer.pdf__outer--dark .textLayer, .pdf__outer.pdf__outer--dark .pdf__resize{background-color:#44403e}
.b3-label.fn__flex.config__item .fn__flex-1.fn__flex-center,.fn__flex.b3-label.config__item .fn__flex-1,.config-query .fn__flex-1{overflow-y:hidden}
.config__panel>.b3-tab-bar .config__tab-title{display:none}
.config__panel>.b3-tab-bar .b3-form__icon{margin:-4px 12px 8px}
.dock#dockBottom{background-color:transparent;margin-top:-42px;border:none}
.dock#dockBottom .dock__item {border-radius:2px;background-color:var(--b3-theme-surface);border:none;color:#b4a08e;box-shadow: 0 0 1px rgb(126 50 0 / 10%) inset, 0 .5px 2px rgb(58 15 0 / 20%);}
/*状态栏插件*/
#status .toolbar__item span {margin: 3px 10px 0px -30px!important;font-size: 1px !important;padding: 10px;color: transparent;}
:root{--b3-border-radius-b:4px}
.b3-menu__items{padding:0px;overflow-x:hidden}
.b3-menu__item{padding:0 16px;border-radius:0px}
.protyle-util .color__square,.pdf__util.b3-menu .color__square{transform:scale(1.1);border-radius:0px;box-shadow:unset;margin:0px 3px}
.protyle-util .color__square[data-type="backgroundColor"]{border-radius:100px}
.protyle-util .color__square[data-type="color"],.protyle-util .color__square[style="background-color:var(--b3-font-background13)"]{box-shadow:0px 0px 0px 1px var(--b3-border-color) inset}
.protyle-util .color__square:hover{box-shadow:0px 0px 0px 2px var(--b3-theme-primary-lighter) inset}
.protyle-wysiwyg [data-node-id].li:before{border-left-color:var(--b3-scroll-color)}
/*搜索*/
#searchList,
#globalSearchList {
    padding-right: 0px !important;
}

#searchList [data-type="search-item"],
#globalSearchList [data-type="search-item"] {
    display: block !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    /*padding-left: 0px !important;*/
}

#searchList [data-type="search-item"]>.b3-list-item__graphic,
#globalSearchList [data-type="search-item"]>.b3-list-item__graphic {
    position: absolute;
    margin-top: 6px !important;
    margin-left: 2px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__text,
#globalSearchList [data-type="search-item"]>.b3-list-item__text {
    margin-left: 20px;
    max-height: 73px !important;
    padding-top: 5px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    overflow-y: auto !important;
    text-overflow: ellipsis !important;
    line-height: 1.3;
    -webkit-box-orient: inherit !important;
}

#searchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis,
#globalSearchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis {
    display: block !important;
    max-width: 95% !important;
    margin-top: -7px !important;
    margin-bottom: -5px !important;
    padding-left: 12px !important;
}
#searchList [data-type="search-item"], #globalSearchList [data-type="search-item"] {
    padding:2px 2px 4px 2px;
    border-bottom:1px dashed var(--b3-border-color);
    border-radius: 0px 0px 0px 0px;
   margin:1px 1px;
   padding-top:6px !important;
}
#searchList ::-webkit-scrollbar, #globalSearchList ::-webkit-scrollbar {
   width:0px;
}
#searchList .b3-list-item:has(.b3-list-item__toggle--hl){background-color:#fbf7ed;margin:0px}
#searchList .b3-list-item:has(.b3-list-item__toggle--hl) .b3-list-item__text.ariaLabel{font-weight:600}
.b3-switch{border-radius:12px}
.config__tab-container--top{margin-top:0px}
.config__tab-container--top[data-name="bazaar"]{margin-top:-16px}
.layout-tab-bar .item--full{min-width:8em}
.pdf__rect.popover__block>div:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px !important;
    height: 100%;
    width: 100%;
}

/* ————————————————————1红色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background1)"]:before {
    background-color: var(--b3-pdf-background1);
    border-bottom: 2px solid #d83931;
}

/* ————————————————————2橙色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background2)"]:before {
    background-color: var(--b3-pdf-background2);
    border-bottom: 2px solid  #de7802;
}

/* ————————————————————3黄色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background3)"]:before {
    background-color: var(--b3-pdf-background3);
    border-bottom: 2px solid #856404;
}

/* ————————————————————4绿色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background4)"]:before {
    background-color: var(--b3-pdf-background4);
    border-bottom: 2px solid  #2ea121;}

/* ————————————————————5青色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background5)"]:before {
    background-color: var(--b3-pdf-background5);
    border-bottom: 2px solid #35737d;
}

/* ————————————————————6蓝色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background6)"]:before {
    background-color: var(--b3-pdf-background6);
    border-bottom: 2px solid #7a878b70;
}

/* ————————————————————7紫色———————————————————— */
.pdf__rect.popover__block>[style*="background-color: var(--b3-pdf-background7)"]:before {
    background-color: var(--b3-pdf-background7);
    border-bottom: 2px solid #6425d0;
}

.dock--vertical{width:36px;}
.dock--vertical .dock__item{padding:6px 6px 6px 6px;margin:7px 4px;border-radius:2px}
.status,.toolbar{height:28px;line-height:28px}
.dock--vertical .dock__item,.dock--vertical .dock__item--activefocus{border:1px solid transparent}
.dock--vertical .dock__item--active{background-color:#f3eee1;border:1px solid var(--b3-theme-surface-lighter)}
.b3-list-item[data-type="toggle"]{border-bottom:none !important;padding-left:0px !important;}
.b3-list-item[data-type="toggle"] .b3-list-item__text{color:var(--b3-theme-primary-lightest)!important}



@font-face {
        font-family: 'syst';
        src: url("src/屏显臻宋.ttf");
    }
@font-face {
        font-family: 'systh';
        src: url("src/SourceHanSerifCN-Heavy.ttf");
}
body {
        font-family: "syst" !important;
    }
:root{--b3-font-family:"syst" !important;}


.block__logo,.b3-dialog__container .config__panel>.b3-tab-bar::before,.protyle-title__input,.sy__outline .b3-list-item[title]{font-family:"systh" !important;font-weight:bold !important}
.protyle-util  .b3-text-field.b3-text-field--text.fn__block {min-height: 200px !important;}

.block__edit.fn__flex-1.protyle{overflow-y:hidden}

.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr {
    padding: 5px 15px 0px 8px!important;
}
.block__popover--open .block__icons{min-height:32px}
.b3-list-item .counter:hover:not(.b3-tooltips.b3-tooltips__nw){background:transparent;color:var(--b3-theme-on-surface-light)}
.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr .b3-tooltips:after{max-width:400px}
.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr [data-node-id][memo]:first-child,.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr [data-node-id][name]:first-child,.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr [data-node-id][alias]:first-child,.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr [data-node-id][bookmark]:first-child{margin-top:5px}
.protyle-content{overflow-x:hidden}
.b3-list-item.b3-list-item--hide-action .b3-list-item__toggle.fn__hidden::before{margin-left:-3px}
