/* --------------------------------------------------标签页 Tab--------------------------------------------- */
/* 标签页底部背景颜色,标签页数量较少时可以看到，颜色和标签页颜色保持一致 */
.layout-tab-bar.fn__flex,
ul.fn__flex.layout-tab-bar {
    background-color: #fffcf6;
}

/* -----------------------------------------normal--------------------------------------------- */
/* 标签页相关设置 */
.layout-tab-bar .item {
    position: relative;
    background-color: #fbf7ed;
    flex: none;
/*    min-width: 8em;*/
    border-radius: 3px;
    box-shadow: none;
    margin: 4px 4px 4px 0px;
}

/* 标签页中文字的相关设置 */
.layout-tab-bar .item .item__text {
    width: 6em;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline;
    color: #55555a4d;
}

/* 鼠标悬浮时的标签页背景颜色，应该和focus时的背景颜色一致 */
.layout-tab-bar .item:not(.item--readonly):hover {
    background-color: #f3eee1 !important;
    border-radius: 3px !important;
}

.layout-tab-bar .item:hover .item__text {
    color: var(--b3-theme-on-background) !important;
}

/* 首个标签页和最后一个标签页左右都设置适当距离 */
.layout-tab-bar .item:first-child {
    margin-left: 4px;
}

.layout-tab-bar .item:last-child {
    margin-right: 4px;
}

/* -----------------------------------------去除默认主题的一些设置--------------------------------------------- */

.layout-tab-bar .item:not(:last-child) {
    box-shadow: none;
}

.layout__wnd--active .layout-tab-bar .item--focus {
    box-shadow: inset 0 2px 0 0 transparent !important;
}

/* -----------------------------------------focus--------------------------------------------- */
/* 设置当前标签页样式 */
.layout-tab-bar .item--focus {
    background-color: #f3eee1;
    box-shadow: none !important;
    min-width: 8em;
    z-index: 1;
    border-radius: 3px !important;
}

/* 设置当前标签页文字样式 */
.layout-tab-bar .item--focus .item__text {
    color: var(--b3-theme-on-background) !important;
}


/* -----------------------------------------others--------------------------------------------- */
/* 减小标签页上的emoji大小 */
.layout-tab-bar .item__icon>img, .layout-tab-bar .item__icon>svg {
    height: 16px;
    width: 16px;
}

/* 为钉住的标签页右上角增加大头钉图标 */
li.item.item--pin:not(.item--focus):after {
    content: "";
    content: url("../../src/pin.svg");
    position: absolute;
    right: 5px;
    top: 0px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
    filter: grayscale(100%);
}

li.item.item--pin.item--focus:after {
    content: "";
    content: url("../../src/pin.svg") !important;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 12px;
    height: 12px;
}

/* 折叠的标签页页正常显示文字 */
.layout-tab-bar .item--pin .item__text {
    display: block !important;
}

/* 去掉标签页上面的emoji */
.layout-tab-bar .item__icon {
    display: none;
}

/* --------------------------------------------------标签页 END--------------------------------------------- */