/* ----------------------------------------------引用---------------------------------------------- */
/* ——————————————————————————设置引用格式———————————————————————————— */
.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq),
.b3-typography blockquote {
    border-left-color: transparent;
    color: #b4a08e;
    background-color: transparent;
    text-underline-offset: 2px;
    padding: 8px 20px 8px 20px;
    background-color: #fbf7ed;
    border-radius: 3px;
    box-shadow: 0 0 4px #b4a08e4d;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 给引用中的段落文字设置下划线 */
.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq) .p:not(.list .p) {
    text-decoration: 2px solid var(--b3-table-border-color) underline;
}

.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq) {
    background-size: 13px;
    background-image: url(../../src/yinyong.png);
    background-repeat: no-repeat;
    background-position: 2px 4px;
}

/* 设置列表中的引用样式 */
div.list div.bq {
    min-height: 26px;
    padding: 0px !important;
    color: #b4a08e;
    border-left: 4px solid #dfd6c5;
    background-color: #fbf7ed;
    border-radius: 3px;
}

div.list div.bq div.p {
    padding: 4px 12px 4px 12px;
    text-align: justify;
}

div.list div.bq div[data-type="NodeHeading"] {
    margin-top: 4px;
}


.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq):after {
    clear: both;
    background: url(../../src/left.png) bottom left no-repeat;
    content: '';
    display: block;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: -11px;
    left: -3px;
}

.protyle-wysiwyg [data-node-id].bq:not(div.list div.bq):before {
    background: url(../../src/right.png) bottom center no-repeat;
    content: '';
    display: block;
    width: 100px;
    height: 15px;
    position: absolute;
    bottom: -9px;
    right: -6px;
}