/* --------------------------------------------图片img----------------------------------------------- */
/* not括号里边是排除了自定义表情里边的图片 */
.protyle-wysiwyg img:not(img.emoji),
.b3-typography img:not(img.emoji) {
    cursor: pointer;
    border-radius: 0px;
    text-align: left;
box-shadow: 0px 0px 0px .6em white,0px 0px 0px .6em white, 0 0 .6em .5em rgb(126 50 0 / 10%),0 1px .6em .55em rgb(58 15 0 / 20%);
    position: relative;
margin-bottom:.6em;
margin-top:.6em;
}
.protyle-wysiwyg img:not(img.emoji){transition:box-shadow 300ms}
.protyle-wysiwyg img:not(img.emoji):hover{    box-shadow: 0px 0px 0px .3em white,0px 0px 0px .3em white, 0 0 .3em .25em rgb(126 50 0 / 10%),0 1px .3em .25em rgb(58 15 0 / 20%),0 2px 12px 0 rgba(0,0,0,0.3);}

