/* --------------------------------------------图片img----------------------------------------------- */
/* not括号里边是排除了自定义表情里边的图片 */
.protyle-wysiwyg img:not(img.emoji),
.b3-typography img:not(img.emoji) {
    border: 0.6em solid white;
    box-shadow: 0 0 2px rgb(126 50 0 / 10%) inset, 0 1px 4px rgb(58 15 0 / 20%);
}


/* .b3-typography .img,
.protyle-wysiwyg .img {
    border: 0.3em solid white !important;
    box-sizing: border-box;
    border: 1px solid var(--b3-table-border-color);
    box-shadow: 0 3px 8px rgb(69 18 10 / 40%);
}

.b3-typography .img .protyle-action__title,
.protyle-wysiwyg .img .protyle-action__title {
    background-color: white;
} */

/* .protyle-wysiwyg img:not(img.emoji),
.b3-typography img:not(img.emoji) {
    border-radius: 4px;
} */