/* 设置列表左边小竖线的样式 */
.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    content: "";
    position: absolute;
    border-left: 0.1em solid #e4dad1;
    top: 4px;
    left: -18px;
    z-index: 3;
}

/* ---------------------给有颜色背景的块设置前面无序列表的样式---------------- */
.list[style*="background-color: var(--b3-font-background"] .li>:before {
    border-color: #00000033 !important;
}

/* ————————————————————缩短嵌入块中小竖线的高度———————————————————— */
.render-node div.list:before {
    top: -10px !important;
}

/* ----------------------------------无序列表和有序列表前面的符号--------------------------------------- */
/* -------------------------列表悬浮------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover:after {
    background-color: var(--b3-theme-primary-lightest) !important;
    border-radius: var(--b3-border-radius-half-round);
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li>.protyle-action:hover {
    color: var(--b3-theme-primary) !important;
}

/* -------------------------列表悬浮 END------------------------ */
/* -------------------------列表折叠------------------------ */
/* 大圆背景 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:after {
    background-color: var(--b3-theme-primary-lightest) !important;
    border-radius: var(--b3-border-radius-half-round);
}

/* 小圆点颜色 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--b3-theme-primary) !important;
}

/* 修改集市里边无序列表前小圆点颜色 */
::marker {
    color: var(--b3-font-color-gray);
}

/* 调整集市里边文字行高，大一点看着好看 */
.item__readme.b3-typography {
    line-height: 2;
    padding: 5px;
    text-align: left;
}

/* ——————————————————————去除无序列表底部外边距———————————————————— */
.protyle-wysiwyg [data-node-id].li>[data-node-id] {
    margin-bottom: 0px;
}

/* ————————————————————减小前面符号·的大小———————————————————— */
/* .list[data-node-id][data-type="NodeList"] .protyle-action>svg {
    width: 11px;
} */

/* -------------------------列表折叠 END------------------------ */
/* ----------------------------------列表 END--------------------------------------- */



/* ---------------------—---------------------复选框（待办事项）------------------------------------------------ */
/* ————————————————————————————给默认的待办事项前的图标和悬浮背景颜色设置为无—————————————————————————————— */
.protyle-wysiwyg [data-node-id].li>.protyle-action--task svg {
    opacity: 0;
}

.protyle-wysiwyg [data-node-id].li>.protyle-action--task:hover:after {
    background-color: transparent !important;
    opacity: 0 !important;
}

/* ————————————————————————————未完成事项的背景颜色———————————————————————————————————————— */
.protyle-wysiwyg .protyle-action--task,
.b3-typography .protyle-task {
    content: url(../../src/dui.svg);
    width: 1.2em;
    height: 1.2em;
    /*top: 0.4em !important;*/
}

/* 折叠待办事项前面的图标 */
div[fold="1"] .protyle-action.protyle-action--task {
    content: url(../../src/dui-fold.svg);
    width: 1.2em;
    height: 1.2em;
    top: 0.4em !important;
}

/* ————————————————————————————————————————复选框选中———————————————————————————————— */
.protyle-task--done>.protyle-action--task,
.b3-typography .protyle-task--done {
    content: url(../../src/dui-c.svg);
}

/* 折叠待办事项完成时的图标 */
.protyle-task--done[fold="1"]>.protyle-action--task,
.b3-typography[fold="1"] .protyle-task--done {
    content: url(../../src/dui-2.svg) !important;
    /* width: 1.2em;
    height: 1.2em;
    top: 0.4em !important; */
}

/* —————————————————————完成的待办事项删除线样式和颜色（包括字体样式）——————————————————————— */
.li.protyle-task--done .p {
    text-decoration: line-through;
    color: var(--b3-theme-primary);
}

/* 设置待办事项中的更多样式 */
.li.protyle-task--done .p strong {
    color: var(--b3-theme-primary) !important;
    background-color: transparent !important;
}

/* 无序列表转表格中的待办事项符号位置调整 */
.list[custom-f="bg"]>div.protyle-action.protyle-action--task {
    position: relative;
    top: 1em !important;
}

.list[data-node-id][data-type="NodeList"][custom-f="bg"] .protyle-action {
    top: 50% !important;
}

/* ---------------------—---------------------复选框（待办事项）END------------------------------------------------ */


/* 首先解除图标默认大小的限制 */
.protyle-wysiwyg [data-node-id].li>.protyle-action svg {
    height: 18px;
}

/* 图标颜色 */
/* 01 */
.list[data-subtype="u"]>.li[data-subtype="u"]>.protyle-action svg {
    height: 18px;
}

/* 02 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    height: 16px
}

/* 03 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    height: 14px;
}

/* 04 */
.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"]>.protyle-action svg {
    height: 12px;
}


/* 文字颜色 */
.list[data-subtype="u"]>.li[data-subtype="u"] {
    color: #645647;
}

.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] {
    color: #6e5f4e;
}

.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] {
    color: #786755;
}

.list[data-subtype="u"]>.li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] .li[data-subtype="u"] {
    color: #82705c;
}


/* 列表中标题样式 */

.list div[data-type="NodeHeading"] {
    color: var(--b3-theme-on-background) !important;
    font-size: 1em !important;
    font-weight: 550;
}

.list div[data-type="NodeHeading"]::after {
    position: absolute;
    font-size: 80%;
    top: 0.1em;
    left: -2.7em;
}

.list .h1::after {
    content: "1";
    color: var(--b3-font-color1);
}

.list .h2::after {
    content: "2";
    color: var(--b3-font-color2);
}

.list .h3::after {
    content: "3";
    color: var(--b3-font-color3);
}

.list .h4::after {
    content: "4";
    color: var(--b3-font-color4);
}

.list .h5::after {
    content: "5";
    color: var(--b3-font-color5);
}

.list .h6::after {
    content: "6";
    color: var(--b3-font-color6);
}